 $whiteblue: #F5F8FE;
 $lightblue: #B3C2E7;

.rec-wrapper{
    display: flex;
    justify-content: center;
    .rec-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 900px;
        width: 100%;
        min-width: 400px;
        padding: 15px;
        .field-container{
            display: flex;
            flex-direction: column;
            width:45%;
            .field:not(:last-child){
                margin-bottom: 10px;
            }
        }
        .card{
            width: 50%;
            border-radius: 15px;
            .section{
                padding: 15px;
            }
        }

    }
}