.notification-wrapper{
    margin: 10px 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .notification-container{
        display: flex;
        flex-direction: column;
        
        
        .notification{
            width: 100%;
            display: flex;
            align-items: center;
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 5px;
            
        }

    }
}