.title{
    border-bottom: 1px solid #e9ecef;
    display: flex;
}
.header{
    border: 0px;

    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-cell{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    }
}